/**
 * Theme Name: Hemingway (nordblog.net Edition)
 * Version: 1.55
 * Description: Hemingway is a clean, beautiful and responsive two-column theme for bloggers. Features responsive design, retina-ready assets, full-width header image with parallax scrolling effect, custom accent color, custom logo upload, custom widgets (video, Flickr and Dribbble), page templates and translation-ready code. Included translations: Swedish/svenska.
 * Tags: black, dark, white, green, two-columns, fluid-layout, responsive-layout, custom-header, custom-menu, custom-colors, featured-images, flexible-header, post-formats, sticky-post, threaded-comments, translation-ready, editor-style
 * Author: MarkyMarkNo1
 * Author URI: https://bitbucket.org/MarkyMarkNo1
 * Theme URI: https://bitbucket.org/MarkyMarkNo1/wp-theme-hemingway-child
 * License: GNU General Public License version 2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Template: hemingway
 *
 * All files, unless otherwise stated, are released under the GNU General Public License
 * version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)
 *
 */
@import url('../hemingway/style.css');
/*
 * =====================================================================
 *
 * Basic theme adjustments
 *
 * =====================================================================
 */
html {
  overflow-y: scroll;
  background: #1D1D1D;
}
/*
 * ---------------------------------------------------------------------
 * .post, .page styles
 * ---------------------------------------------------------------------
 */
@media (max-width: 700px) {
  .page {
    padding-bottom: 35px;
    margin-bottom: 35px;
  }
  .page:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
}
.post p .post-edit-link:only-child,
.page p .post-edit-link:only-child {
  display: inline-block;
  margin-top: 2.2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
.post p .post-edit-link:only-child:not(:hover),
.page p .post-edit-link:only-child:not(:hover) {
  color: #999;
}
.post-title {
  -ms-word-break: normal;
  word-break: normal;
}
/*
 * ---------------------------------------------------------------------
 * Additional .post-meta-bottom for content parts in blog view
 * ---------------------------------------------------------------------
 */
.post-meta-bottom .post-meta {
  font-size: 1em;
}
/*
 * ---------------------------------------------------------------------
 * Comments
 * ---------------------------------------------------------------------
 */
.commentlist > li.comment:last-child div.comment {
  padding-bottom: 0;
  border-bottom: 0;
}
/*
 * ---------------------------------------------------------------------
 * Sidebar
 * ---------------------------------------------------------------------
 */
.sidebar {
  display: block;
}
@media (max-width: 800px) {
  .sidebar .widget:first-child {
    margin-top: 10%;
    border-top: 4px solid #EEE;
    padding-top: 10%;
  }
}
@media (max-width: 700px) {
  .sidebar .widget:first-child {
    margin-top: 40px;
    padding-top: 40px;
  }
}
@media (max-width: 800px) {
  .sidebar .widget {
    padding-bottom: 10%;
    border-bottom: 4px solid #EEE;
    margin-bottom: 10%;
  }
}
@media (max-width: 700px) {
  .sidebar .widget {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}
.sidebar .widget:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}
/*
 * =====================================================================
 *
 * Plugin Jetpack: Infinite Scroll
 *
 * http://jetpack.me/support/infinite-scroll/
 *
 * =====================================================================
 */
.infinite-scroll .page-title span,
.infinite-scroll .archive-nav {
  display: none;
}
.infinite-wrap .post,
.infinite-wrap .page {
  padding-bottom: 10%;
  border-bottom: 4px solid #EEE;
  margin-bottom: 10%;
}
@media (max-width: 700px) {
  .infinite-wrap .post,
  .infinite-wrap .page {
    padding-bottom: 35px;
    margin-bottom: 35px;
  }
}
.infinite-wrap:last-of-type .post:last-child,
.infinite-wrap:last-of-type .page:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}
.infinite-wrap:last-of-type + .infinite-loader {
  padding-top: 10%;
  border-top: 4px solid #EEE;
  margin-top: 10%;
}
@media (max-width: 700px) {
  .infinite-wrap:last-of-type + .infinite-loader {
    padding-top: 35px;
    margin-top: 35px;
  }
}
.infinite-loader {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.infinite-loader .spinner {
  top: 14px !important;
}
#infinite-footer .blog-info {
  opacity: 1 !important;
  display: block;
  padding: 0;
  background: transparent;
}
#infinite-footer .blog-info a {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
#infinite-footer .blog-info a:hover {
  text-decoration: none;
}
/*
 * =====================================================================
 *
 * Plugin Smart Archives Reloaded
 *
 * https://wordpress.org/plugins/smart-archives-reloaded/
 *
 * =====================================================================
 */
#smart-archives-list {
  font-size: 0.9em;
}
#smart-archives-list a {
  text-decoration: none;
}
#smart-archives-list h2 {
  font-size: 1.5em;
}
#smart-archives-list h2 a:not(:hover) {
  color: #999;
}
#smart-archives-list .archive-list {
  list-style: none;
  margin-left: inherit;
}
#smart-archives-list .archive-list li {
  margin-bottom: 0;
  line-height: 130%;
}
#smart-archives-list .archive-list li a {
  display: block;
  border-bottom: 1px solid #EEE;
  padding: 8px 0;
}
#smart-archives-list .archive-list li a:not(:hover) {
  color: inherit;
}
#smart-archives-list .archive-list li:last-child a {
  border-bottom: none;
}
/*
 * =====================================================================
 *
 * Plugin Subscribe to Comments Reloaded
 *
 * https://wordpress.org/plugins/subscribe-to-comments-reloaded/
 *
 * =====================================================================
 */
.subscribe-form-field {
  margin: 20px 0;
}
@media (max-width: 700px) {
  .subscribe-form-field {
    margin: 15px 0;
  }
}
#subscribe-reloaded-list {
  list-style: none;
  margin-left: 0;
}
