/**
 * Theme Name: Hemingway (nordblog.net Edition)
 * Version: 1.55
 * Description: Hemingway is a clean, beautiful and responsive two-column theme for bloggers. Features responsive design, retina-ready assets, full-width header image with parallax scrolling effect, custom accent color, custom logo upload, custom widgets (video, Flickr and Dribbble), page templates and translation-ready code. Included translations: Swedish/svenska.
 * Tags: black, dark, white, green, two-columns, fluid-layout, responsive-layout, custom-header, custom-menu, custom-colors, featured-images, flexible-header, post-formats, sticky-post, threaded-comments, translation-ready, editor-style
 * Author: MarkyMarkNo1
 * Author URI: https://bitbucket.org/MarkyMarkNo1
 * Theme URI: https://bitbucket.org/MarkyMarkNo1/wp-theme-hemingway-child
 * License: GNU General Public License version 2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Template: hemingway
 *
 * All files, unless otherwise stated, are released under the GNU General Public License
 * version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)
 *
 */


@parentTheme: '../hemingway';

// Use @import, to borrow the style sheet from the Baylys parent theme
@import url('@{parentTheme}/style.css');

// Now you can start adding your own styles here. Use !important to overwrite styles if neccessary.


/*
 * =====================================================================
 *
 * Basic theme adjustments
 *
 * =====================================================================
 */

html {
  // http://css-tricks.com/snippets/css/force-vertical-scrollbar/
  overflow-y: scroll;
  // Setting background equal to footer in order to prevent bodys' (custom) color
  // reappearing below the footer in case bodys' height is less than one viewport
  // height
  background: #1D1D1D;
}

/*
 * ---------------------------------------------------------------------
 * .post, .page styles
 * ---------------------------------------------------------------------
 */

// Hemingway apllies padding, border, margin to bottom except for :last-child.
// Original excerpt:
//
// .post,
// .page {
//   padding-bottom: 10%;
//   border-bottom: 4px solid #EEE;
//   margin-bottom: 10%;
// }
//
// .post:last-child,
// .page:last-child {
//   padding-bottom: 0;
//   border-bottom: 0;
//   margin-bottom: 0;
// }
//
// @media (max-width: 700px) {
//   .post {
//     padding-bottom: 35px;
//     margin-bottom: 35px;
//   }
//
//   .post:last-child {
//     padding-bottom: 0;
//     border-bottom: none;
//     margin-bottom: 0;
//   }
// }
//
// Obvious question: why aren't media-query adjustments also applied to .page!?
//
@media (max-width: 700px) {
  // Applying media-query equal to .post
  .page {
    padding-bottom: 35px;
    margin-bottom: 35px;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}

.post,
.page {

  p .post-edit-link:only-child {
    // "Edit" link for pages
    display: inline-block;
    margin-top: 2.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;

    &:not(:hover) {
      // Excluding :hover enables keeping accent color for :hover
      color: #999;
    }
  }
}

.post-title {
  -ms-word-break: normal;
  word-break: normal;
}

/*
 * ---------------------------------------------------------------------
 * Additional .post-meta-bottom for content parts in blog view
 * ---------------------------------------------------------------------
 */
.post-meta-bottom {

  .post-meta {
    font-size: 1em;
  }
}

/*
 * ---------------------------------------------------------------------
 * Comments
 * ---------------------------------------------------------------------
 */

.commentlist {

  > li.comment:last-child div.comment {
    // No need for a delimiter after the last comment
    padding-bottom: 0;
    border-bottom: 0;
  }
}

/*
 * ---------------------------------------------------------------------
 * Sidebar
 * ---------------------------------------------------------------------
 */

// Hemingway just hides the .sidebar for smaller screens. Original excerpt:
//
// @media (max-width: 800px) {
//   .sidebar {
//       display: none;
//   }
// }
//
// Obvious question: why !?
//
.sidebar {
  // Always show the sidebar
  display: block;

  .widget {

    // Tweaking the first widget
    &:first-child {

      @media (max-width: 800px) {
        margin-top: 10%;
        border-top: 4px solid #EEE;
        padding-top: 10%;
      }

      @media (max-width: 700px) {
        margin-top: 40px;
        padding-top: 40px;
      }
    }

    // Default widgets
    @media (max-width: 800px) {
      padding-bottom: 10%;
      border-bottom: 4px solid #EEE;
      margin-bottom: 10%;
    }

    @media (max-width: 700px) {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }

    // Tweaking the last widget
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}


/*
 * =====================================================================
 *
 * Plugin Jetpack: Infinite Scroll
 *
 * http://jetpack.me/support/infinite-scroll/
 *
 * =====================================================================
 */

.infinite-scroll {

  .page-title span,     // "Page 1 of n"
  .archive-nav {        // "Older posts", "Newer posts"
    // Hides navigation links when infinite scroll is active
    display: none;
  }
}

.infinite-wrap {

  .post,
  .page {
    // Normalize Hemingways' general .post:last-child, .page:last-child exceptions -
    // see above - for .infinite-wrap ...
    padding-bottom: 10%;
    border-bottom: 4px solid #EEE;
    margin-bottom: 10%;

    @media (max-width: 700px) {
      padding-bottom: 35px;
      margin-bottom: 35px;
    }
  }

  &:last-of-type {      // :last-of-type since span.infinite-loader successor might be present

    .post:last-child,
    .page:last-child {
      // ... but for the very last .infinite-wrap, .post:last-child, .page:last-child
      // exceptions are wanted
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }

    + .infinite-loader {
      // Obtaining the delimiter in case. If div#infinite-handle gets replaced by
      // span.infinite-loader on click, the last present .post becomes
      // .infinite-wrap:last-of-type .post:last-child, hence looses its'
      // {padding,border,margin}-bottom for a glance. Applying it on top of
      // .infinite-loader instead:
      padding-top: 10%;
      border-top: 4px solid #EEE;
      margin-top: 10%;

      @media (max-width: 700px) {
        padding-top: 35px;
        margin-top: 35px;
      }
    }
  }
}

.infinite-loader {
  // Hemingway sets * to box-sizing: content-box
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  .spinner {
    // Adjusting curious dynamic calculation
    top: 14px !important;
  }
}

#infinite-footer {

  .blog-info {
    // Resolving interferences with styles meant for themes' .header .blog-info
    opacity: 1 !important;
    display: block;
    padding: 0;
    background: transparent;

    a {
      // Applying Hemingways' .blog-title analogy
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}


/*
 * =====================================================================
 *
 * Plugin Smart Archives Reloaded
 *
 * https://wordpress.org/plugins/smart-archives-reloaded/
 *
 * =====================================================================
 */

// Hemingway comes with an own Archives template. Let's adopt some of its'
// .archive-box styles:
//
#smart-archives-list {
  font-size: 0.9em;

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 1.5em;

    a:not(:hover) {
      // Excluding :hover enables keeping accent color for :hover
      color: #999;
    }
  }

  .archive-list {
    list-style: none;
    margin-left: inherit;

    li {
      margin-bottom: 0;
      line-height: 130%;

      a {
        display: block;
        border-bottom: 1px solid #EEE;
        padding: 8px 0;

        &:not(:hover) {
          // Excluding :hover enables keeping accent color for :hover
          color: inherit;
        }
      }

      &:last-child a {
        border-bottom: none;
      }
    }
  }
}


/*
 * =====================================================================
 *
 * Plugin Subscribe to Comments Reloaded
 *
 * https://wordpress.org/plugins/subscribe-to-comments-reloaded/
 *
 * =====================================================================
 */

.subscribe-form-field {
  margin: 20px 0;

  @media (max-width: 700px) {
    margin: 15px 0;
  }
}

#subscribe-reloaded-list {
  list-style: none;
  margin-left: 0;
}
